<div class="min-h-screen h-screen w-full">
  <nav
    class="w-full flex justify-between items-center sticky px-5 border-b-[1px] py-3"
  >
    <div class="flex justify-center items-center gap-2">
      <ng-icon name="hugeColors"></ng-icon> Event Manager
    </div>
    <button
      class="border rounded-[10px] p-2"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      Home
    </button>
  </nav>
  <div class="flex flex-col w-full justify-center items-center h-full gap-12">
    <p class="font-semibold text-[30px]">Sign up</p>
    <div class="flex flex-col gap-5">
      <form [formGroup]="form" class="flex flex-col gap-2">
        <div
          class="flex gap-2 active:border border border-gray-100 items-center outline-1 p-3"
        >
          <ng-icon name="hugeUser"></ng-icon>
          <input
            class="px-2 h-5 w-[400px] outline-none"
            placeholder="name"
            type="text"
            formControlName="name"
          />
        </div>
        <div
          class="flex gap-2 active:border border border-gray-100 items-center outline-1 p-3"
        >
          <ng-icon name="hugeMail01"></ng-icon>
          <input
            class="px-2 h-5 w-[400px] outline-none"
            placeholder="email"
            type="email"
            formControlName="email"
          />
        </div>
        <div
          class="flex gap-2 border border-gray-100 active:border items-center outline-1 p-3"
        >
          <ng-icon name="hugeLockPassword"></ng-icon>
          <input
            class="px-2 h-5 w-[400px] outline-none"
            placeholder="Password"
            type="password"
            formControlName="password"
          />
        </div>
        <div
          class="flex gap-2 border border-gray-100 active:border items-center outline-1 p-3"
        >
          <ng-icon name="hugePasswordValidation"></ng-icon>
          <input
            class="px-2 h-5 w-[400px] outline-none"
            placeholder="Confirm password"
            type="password"
            formControlName="confirmPassword"
          />
        </div>
        <button
          class="bg-[#483d8b] border p-3 text-white hover:bg-white hover:text-[#483d8b] transition duration-500"
          type="submit"
          (click)="onSubmit()"
        >
          Sign up
        </button>
      </form>
      <p class="text-center">
        You have an account? 
        <a 
          class="text-[#483d8b]"
          [routerLink]="['/auth/login']">
            Sign in
        </a>
      </p>
    </div>
  </div>
</div>
